@import "./downloadModal";
@import "./scienceLiteracy";
@import "./utinity";
// 嵌入至正式區時需要拿掉
html {
  overflow-y: auto !important;
}

.container {
  height: 100%;
  padding: 10px;
}

.selector-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 14px;
  margin-bottom: 14px;
  & .selector {
    display: block;
    width: 100%;
  }

  & h4 {
    margin-right: 20px;
  }
}

.input-group {
  margin-top: 14px;
  margin-bottom: 14px;
  & .input-box {
    position: relative;
    & input {
      display: block;
      width: 100%;
      border-radius: 20px;
      border: 1px solid #a3a3a3;
      height: 35px;
      line-height: 35px;
      padding-left: 15px;
      padding-right: 30px;
      color: #5c5c5c;
    }
    & i {
      right: 10px;
      top: 10px;
      position: absolute;
      font-size: 15px;
    }
  }
}

.pageTab .pageTabList {
  border: 0px;
  box-sizing: border-box;
  margin-bottom: 10px;
  & li {
    flex-grow: 1;
    text-align: center;
    margin: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #ebebeb;

    &.actTab {
      border-bottom: 0px;
    }
  }
}

#content1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.contant-custom,
.contant-collapse {
  display: block;
  padding: 14px;
  box-shadow: 0px 0px 5px #30313345;
  background: #fff;
  padding: 10px 10px;
  color: #5c5c5c;
  font-size: 19px;
  margin-bottom: 20px;
  & h4 {
    font-weight: normal;
  }
}

.contant-collapse {
  position: relative;
  margin-bottom: 0px;
  cursor: pointer;
  transition: all 0.3s;

  &.active {
    & i {
      transform: translateY(-50%) rotate(90deg);
    }
  }

  & h3 {
    text-align: center;
    font-weight: normal;
  }
  & i {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 20px;
    transition: all 0.3s;
  }
}

.search-btn {
  display: block;
  width: 60%;
  margin: auto;
}

@media (min-width: 768px) {
  #content1 {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    grid-gap: 40px;
  }
  .search-btn {
    width: 100%;
  }

  .contant-custom {
    display: block !important;
  }

  .contant-collapse {
    display: none;
  }
}
