.topic_modal_title {
  text-align: left;
  padding: 20px;
  font-size: 14px;
  background: var(--main-bright);
  border-radius: 15px;

  & .topic_modal_sub_title {
    font-size: 14px;
    border-bottom: 6px solid var(--main-color);
  }
}
.scienceLiteracy_history_topic_modal {
  & .question {
    border-bottom: 4px dashed var(--main-color);
    margin-bottom: 20px;
    padding-bottom: 20px;
    overflow: auto;
    width: 100%;
  }

  & .question span,
  & .answer span {
    padding: 10px 31px;
    margin: 10px auto;
    display: inline-block;
    background: var(--secondary-color);
    border-radius: 27px;
    font-weight: bold;
    font-size: 14px;
  }

  // & img {
  //   image-rendering: -moz-crisp-edges; /* Firefox */
  //   image-rendering: -o-crisp-edges; /* Opera */
  //   image-rendering: -webkit-optimize-contrast; /*Webkit (non-standard naming) */
  //   image-rendering: crisp-edges;
  //   -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
  // }

  & .question_img {
    width: 100%;
  }

  & .solution_img {
    width: min(100%, 80%);
  }
}

@media (min-width: 1100px) {
  .topic_modal_title {
    text-align: left;
    padding: 20px;
    font-size: 25px;
    background: var(--main-bright);
    border-radius: 15px;

    & .topic_modal_sub_title {
      font-size: 25px;
      border-bottom: 6px solid var(--main-color);
    }
  }

  .scienceLiteracy_history_topic_modal {
    // width: 40vw;

    & .question span,
    & .answer span {
      font-size: 20px;
    }

    // & .solution_img {
    //   width: unset;
    // }
  }
}
