/* ç¯©é¸è³‡æ–™ */
.filterBar {
  display: inline-block;
  position: relative;
}
.filterBar > .filter, .filterBar > .fa-filter {
  cursor: pointer;
  /*margin: auto 10px;*/
  padding: 10px;
}
.filterBar > .filter:hover:after {
  content: 'ç¯©é¸';
  position:absolute;
  top:100%;
  left: 0;
  right: 0;
  color: black;
  font-size: initial;
  font-weight: initial;
  text-align: center;
}

.filterBar .filterCondition {
  display: none;
  background-color: var(--main-light);
  padding: 0px 10px 10px 0px;
  position: absolute;
  right: 0;
  top:-35px;
  box-shadow:#9999 3px 3px 5px;
  border-radius: 5px;
}
.filterBar .filterCondition.positionAbsolute {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  z-index: 998;
}
.filterBar.permanentshow .filterCondition {
  display: flex;
  width: unset;
  max-width: unset;
  box-shadow: unset;
}

.filterBar .filterCondition > * {
  margin: 10px 0px 0px 10px;
  line-height: 35px;
}
.filterBar .filterCondition > .btn {
  padding: 0px;
}

.filterBar .filterCondition > .search input {
  width: 100%;
  height: auto;
  padding: 0px 8px;
  border-radius: 20px;
}

/*RWD START*/
.filterBar .filterCondition {
  max-width: calc(1000px + 40px + 10px);
  width: max-content;
}
.filterBar .filterCondition > * {
  flex: 0 0 250px;
  width: 250px;
}
.filterBar .filterCondition > .btn {
  flex:0 0 120px;
  width: 120px
}
@media only screen and (max-width:1680px) {
  .filterBar .filterCondition {
    max-width: calc(750px + 30px + 10px);
  }
}
@media only screen and (max-width:1024px) {
  .filterBar .filterCondition {
    max-width: calc(500px + 20px + 10px);
  }
}
@media only screen and (max-width:600px) {
  .filterBar .filterCondition {
    max-width: calc(250px + 10px + 10px);
    position: fixed;
    left: 0;
    right: 0;
    top: 10vh;
    margin: auto;
    overflow: auto;
    max-height: 80vh;
  }
  .filterBar.permanentshow .filterCondition {
    position: unset;
    margin: 0px;
    width: calc(100vw - 85px);
    flex-wrap: wrap;
  }
  .filterBar .filterCondition > *,
  .filterBar .filterCondition > *:nth-last-child(2),
  .filterBar .filterCondition > *:nth-last-child(1) {
    flex:0 0 calc(100% - 10px);
  }
  .filterBar.permanentshow + .switchSpan {
    text-align: center;
    display: block;
    margin-top: 10px;
  }
}
/*RWD END*/
/* ç¯©é¸è³‡æ–™End */

/* ä¸‹æ‹‰é¸å–®(å…±ç”¨æ¨£å¼) START */
.selector {
  position: relative;
  width: fit-content;
  min-width: 210px;
  background-color: #FFF;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #A3A3A3;
  height: 35px;
  line-height: 35px;
}

.selector.unableSelector {
  background-color: #CCC;
  cursor: not-allowed;
}

.selector > span {
  display: flex;
  align-items: center;
  margin: 0px 10px;
  height: 100%;
  background-image: url(../images/role/black-desc.gif);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: right center;
}

.selector ul {
  position: absolute;
  width: max-content;
  min-width: 150px;
  max-height: 50vh;
  overflow: auto;
  background-color: #FFF;
  margin-top: 1px;
  box-shadow: 0px 0px 5px #30313345;
  border-radius: 5px;
  z-index:5;
}

.selector li {
  padding: 2px 8px;
}

.selector.listView li:hover {
  background-color: #EEE;
}
/* ä¸‹æ‹‰é¸å–®(å…±ç”¨æ¨£å¼) END */



/* åˆ†é é ç¢¼åˆ‡æ› */
  /*å­¸ç”Ÿå„€éŒ¶æ¿, æ•™å¸«å„€éŒ¶æ¿*/
  #packPagination, #paginationArea {
    margin-top: 20px;
  }
  /*å­¸ç”Ÿå„€éŒ¶æ¿*/
  #packPagination {
    text-align: center;
  }
  /*æ•™å¸«å„€éŒ¶æ¿*/
  #paginationArea {
  }
  .paginationWrap {
    display: flex;
    justify-content: center;
  }

  .paginationWrap>li {
    margin: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 25px;
    text-align: center;
  }

  .paginationWrap>li.prevPage,
  .paginationWrap>li.nextPage {
    width: auto;
    padding: 0 15px;
  }

  .paginationWrap > li:hover {
    color: #FFF;
    background: var(--main-color);
  }

  .paginationWrap>li:active {
    border: 1px dashed var(--main-color);
  }

  .paginationWrap>li.active {
    color: #FFF;
    background: var(--main-color);
  }
/* åˆ†é é ç¢¼åˆ‡æ›End */

/* é ç±¤åˆ‡æ› */
.pageTab .pageTabList {
  border-bottom: 1px solid #707070;
  display: flex;
  margin-bottom: 18px;
}

.pageTab .pageTabList li {
  padding: 10px 30px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 8px;
  color: #5D5D5D;
}

.pageTab .pageTabList li.actTab {
  color: #5D5D5D;
  background-color: var(--secondary-color);
}

.pageTab .pageTabList li.unableTab {
  cursor: not-allowed;
  background-color: #EEE;
}

.pageTab .pageTabList li.unableTab:hover {
  color: inherit;
}

.pageTab .pageTabList li:hover {
  color: var(--main-color);
}

.pageTab .pageTabContent {
  padding: 15px 0px;
}

/* é ç±¤åˆ‡æ›End */

/* è¡¨æ ¼æ¨£å¼ */
.tableStyleBorder {
  width: 100%;
  border-radius: 30px;
  border: 1px solid #AAA;
  table-layout: fixed;
  overflow: hidden;
}

.tableStyleBorder th,
.tableStyleBorder td {
  padding: 10px;
  border-right: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.tableStyleBorder tr:last-child th,
.tableStyleBorder tr:last-child td {
  border-bottom: 0;
}

.tableStyleBorder td {
  text-align: center;
}

.tableStyleBorder thead th{
  text-align: left;
  border-bottom: 1px solid #AAA;
  background-color: #FFF;
}
.tableStyleBorder tbody th{
  text-align: center;
  width: 150px;
}

.tableStyleBorder thead th > div:last-child > i,
.tableStyleBorder tbody th > div:last-child > i{
  cursor: pointer;
}

.multipleData > div:first-child{
  font-weight: bold;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  height: 3em;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.multipleData > div:last-child{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.multipleData > div:last-child > *{
  font-size: 0.8rem;
  color: #AAA;
}
.multipleData > div:last-child > span{
  font-weight: normal;
}
.multipleData > div:last-child > i{
  cursor: pointer;
}
.multipleData > div:last-child > .btn {
  min-width: fit-content;
}

.multipleData .multipleData > div:first-child{
  color:#555;
  overflow:visible;
  text-overflow:clip;
  display: block;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.tableStyleBorder tr>*:last-child {
  border-right: 0px;
}

.tableBlue tbody tr:nth-child(even)>* {
  background-color: var(--main-bright);
}
.tableStyleBorder.tableBlue th,
.tableStyleBorder.tableBlue td {
  border-bottom: 0px;
}

/* è¡¨æ ¼æ¨£å¼End */

/* é¡¯ç¤ºåˆ‡æ› */
.pageHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 100%;
  min-height: 60px;
  margin: 5px 0px;
}

.pageHeader h6 {
  font-weight: normal;
}

.pageHeader h6 span{
  padding: 2px 10px;
}

.pageHeader h6 span:not(:last-child) {
  border-right: 2px solid var(--main-light);
}

.pageHeaderdiv>span {
  border-right: 1px solid #AAA;
  padding: 5px;
}

.pageHeader>div>span:last-child {
  border-right: 0px;
}

.pageHeader span > i {
  cursor: pointer;
  margin: auto 5px;
  color: var(--main-dark);
}

.pageHeader i:active, .pageHeader i.actIcon {
  color: var( --main-active);
}

.pageHeader i:hover {
  color: var(--main-color);
}

.pageHeader>div {
  border-radius: 15px;
  margin: 0.5%;
}

@media only screen and (max-width:600px) {
  .pageHeader {
    flex-direction:column;
  }
  .pageHeader h6 span {
    padding: 2px 4px;
  }
}

/* é¡¯ç¤ºåˆ‡æ›End */

/* æ­¥é©Ÿå¼ */
.stepTab .stepTabList {
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  display: flex;
  margin-bottom: 18px;
}

.stepTab .stepTabList li:nth-child(odd) {
  padding: 5px 15px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  background-color: var(--secondary-color);
  border-radius: 20px;
}

.stepTab .stepTabList li:nth-child(even) {
  width: fit-content;
  display: flex;
  align-items: center;
}

.stepTab .stepTabList li:nth-child(even) i {
  color: var(--secondary-color);
}

.stepTab .stepTabList li:last-child::after {
  content: '';
}

.stepTab .stepTabList li.actStep {
  /* color: #402311; */
  background-color: var(--contrast-light);
}
.stepTab .stepTabList li.unableStep{
  filter: grayscale(1);
  cursor: not-allowed;
}

.stepTab .stepTabList li.unableStep + .stepTab .stepTabList li {
  filter: grayscale(1);
}

.stepTab .stepTabContent {
  padding: 15px 0px;
}

/* æ­¥é©Ÿå¼End */

/* æç¤ºå…§å®¹ */
.toolTip, .toolTipHover {
  /* position: relative;
  display: inline-block; */
}

.toolTip .toolTipText, .toolTipHover .toolTipText {
  visibility: hidden;
  width: 200px;
  height: fit-content;
  padding: 10px;
  background-color: #FFF;
  border-radius: 6px;
  position: absolute;
  z-index: 1010;
  opacity: 0;
  transition: opacity 0.5s;
  box-shadow: inset 0px 0px 3px 1px #ccc;
}

.toolTip .toolTipText.bottom, .toolTipHover .toolTipText.bottom { /*ä¸‹æ–¹æç¤º*/
  top: 30px;
}
.toolTip .toolTipText.top, .toolTipHover .toolTipText.top { /*ä¸Šæ–¹æç¤º*/
  bottom: 30px;
}
.toolTip .toolTipText.left, .toolTipHover .toolTipText.left { /*å·¦æ–¹æç¤º*/
  top: 0;
  left: -205px;
}
.toolTip .toolTipText.right, .toolTipHover .toolTipText.right { /*å³æ–¹æç¤º*/
  top: 0;
  left: 30px;
}

/* æç¤ºå…§å®¹End */

/* Radio æŒ‰éˆ•åˆ‡æ› */
.radioButton {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #fff;
  border: 1px solid #CCC;
  border-radius: 50px;
}
.radioButton label {
  padding-left: 0 !important;
  width: 100%;
}
.radioButton label::before,
.radioButton label::after {
  display: none;
}
.radioButton [type="radio"]:not(:checked)+label {
  background: #FFF;
  border-radius: 30px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.radioButton [type="radio"]:checked+label {
  background: var(--main-light);
  border-radius: 30px;
}

@media screen and (max-width: 414px){
  .radioButton {
    display: block;
    border-radius: 10px;
  }
  .radioButton [type="radio"]:checked+label {
    border-radius: 10px;
  }
}

/* é€²åº¦æ¢ */
.barPercentage {
  border: 1px solid #CCC;
  border-radius: 50px;
  height: auto;
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.barPercentage .bar {
  height: 20px;
  border-radius: 50px;
  background: var(--main-light);
}

.barPercentage .percent {
  line-height: 1.2;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* å…¶ä»–æ¨£å¼ */
.btnBorder {
  box-shadow: 0px 0px 5px #30313345;
  background: #FFF;
}

.btnCircle {
  border-radius: 50%;
  min-width: auto;
  padding: 10px;
}
.displayFlex {
  display: flex;
}

.flexWrap {
  flex-wrap: wrap;
}

.justifyCenter, *.justifyCenter {
  justify-content: center
}

.column1>* {
  width: 100%;
}

.column2>* {
  width: 50%;
}

.column3>* {
  width: 33.3%;
}

.column4>* {
  width: 25%;
}

